:root {
    --route1-color: lightblue;
    --route2-color: #71BF9F;
    --route3-color: orange;  
}

body { 
    overflow-y: visible;
}

.title {
    /*position: static;*/
    margin-top: 2rem;
}

.schedule {
    border: 1px solid black;
    padding: 10px;
    margin: 0px 0px 20px 0px;
}

.routes {
    display: inline;
}

th:first-child, td:first-child, .route {
    padding-left: 12px;
    font-weight: bolder;
}

.route.route-1 {
    background-color: var(--route1-color);
}

.route.route-2 {
    background-color: var(--route2-color);
}

.route.route-3 {
    background-color: var(--route3-color);
}

.times {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.times li {
    /*display: inline-block;*/
}

ul {
    list-style: none;
}


div label input {
   margin-right:100px;
}

body {
    font-family:sans-serif;
}

.bus-stop {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:0px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}

.bus-stop label {
    float:left;
    width:4.0em;
}

.bus-stop label span {
    text-align:center;
    padding:3px;
    padding-top: 1em;
    display:block;
}

.bus-stop label input {
    position:absolute;
    right:200%;
}

.bus-stop input:checked + span {
    background-color: black;
    color:#fff;
}

.bus-stop input:hover + span {
    background-color: slategray;
    color:#fff;
}

.bus-stop input:checked:hover + span {
    background-color: gray;
    color:#fff;
}