<!DOCTYPE html>
<html>
<head>
    <title>FakeBus Metro</title>

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

    <!-- <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css"> -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css"> -->
    <!-- <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script> -->
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
{% block contents %}{% endblock %}
</body>
</html>