{% extends 'base.html' %}
{% block contents %}
<div class="container">
    <div>
    <h2 class="title">FakeBus</h2>
    </div>

{% for stop in schedule.keys() %}
    {% include 'schedule.html' %}
{% endfor %}

<div>
    <h3>Which Bus Stops?</h3>
    <div class="bus-stop">
        {% for stop in range(1,11) %}
            <label>
                <input type="checkbox" hidden value="{{stop}}" size="10" class="bus-stop">
                <span>{{stop}}</span>
            </label>
        {% endfor %}
    </div>
</div>

<script src="{{url_for('static', filename='update.js')}}"></script>
{% endblock %}